<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>
  <%# post.title %>
  <h2><%= link_to post.title, post %></h2>
  <p><%= post.body %></p>
  <%= link_to "edit post" , edit_post_path(post), class:"btn btn-success" %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
